@font-face {
    font-family: "HandelGoth";
    src:         url("../fonts/HandelGothic.eot");
    src:         url("../fonts/HandelGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/HandelGothic.woff") format("woff"), url("../fonts/HandelGothic.ttf") format("truetype"), url("../fonts/HandelGothic.svg#HandelGothic") format("svg");
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: "Atari";
    src:         url("../fonts/Atari8Bit.eot");
    src:         url("../fonts/Atari8Bit.eot?#iefix") format("embedded-opentype"), url("../fonts/Atari8Bit.woff") format("woff"), url("../fonts/Atari8Bit.ttf") format("truetype"), url("../fonts/Atari8Bit.svg#Atari8Bit") format("svg");
    font-weight: normal;
    font-style:  normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background:      url("../images/bg2.png") no-repeat bottom center fixed;
    background-size: contain;
    padding:         0;
    margin:          0;
}

/*#Scanlines {*/
/*background: url("../images/scanlines.png");*/
/*min-width:  100%;*/
/*min-height: 100%;*/
/*position:   fixed;*/
/*top:        0;*/
/*left:       0;*/
/*z-index:    -10;*/
/*opacity:    0.8;*/
/*}*/

body {
    font-family:         HandelGoth, sans-serif;
    font-size:           12pt;
    -webkit-text-stroke: 0.25px;
}

#Header {
    text-align: center;
}

#Content {
    font-family: HandelGoth;
    background:  darkred;
    color:       black;
    padding:     1em;
    /*opacity:     0.8;*/
    box-shadow:  0px 0px 18px black;
    width:       100%;
    clear:       both;
}

/*#Content {*/
/*opacity:       0.9;*/
/*overflow:      auto;*/
/*display:        flex;*/
/*align-content: stretch;*/
/*flex-direction: column;*/
/*flex-flow:      wrap;*/
/*margin-bottom: 1em;*/
/*}*/

#Logo {
    /*width:   240px;*/
    opacity:      1;
    float:        left;
    padding-left: 1em;
}

#Byline {
    font-size:      1.0em;
    line-height:    1em;
    padding-top:    0.25em;
    padding-bottom: 0.5em;
}

#Footer {
    font-size:     small;
    color:         white;
    text-align:    center;
    font-style:    italic;
    margin-bottom: 1em;
    margin-left:   auto;
    margin-right:  auto;
    width:         50em;
    text-shadow:   0 0 8px black;
}

#Contact {
    float:          right;
    font-family:    "Roboto", sans-serif;
    font-weight:    bold;
    font-size:      1.0em;
    text-transform: uppercase;
    padding-top:    1em;
    padding-right:  1em;
}

#Contact h2, #Contact ul {
    padding: 0;
    margin:  0;
}

#Contact h2 {
    font-size:      1.5em;
    padding-top:    0.25em;
    padding-bottom: 0.25em;
    color:          #AAA;
}

#Contact li {
    display: inline;
}

#Contact a {
    color:         darkred;
    padding-left:  1em;
    padding-right: 1em;
}

#Contact a:hover {
    color: red;
}

#Header {
    background-color: white;
    margin:           0;
    padding:          1em 0 0;
}

/* =================================== SECTIONS */

.section {
    background: #FFF;
    width:      100%;
    clear:      both;
    border:     4px solid black;
    padding:    0.4em;
    text-align: left;
    margin:     0.3em;
    box-shadow: 0px 0px 18px #000;
}

/*.section .head {*/
    /*height: 48px;*/
/*}*/


/*.section .title {*/
    /*color:          darkred;*/
    /*font-size:      1.5em;*/
    /*padding-bottom: 0.5em;*/
    /*float:          left;*/

/*}*/

#SectionButtons {
    height:        48px;
    margin-bottom: 1em;
    text-align: center;
}

#SectionButtons .button {
    display:             inline-block;
    padding:             6px 12px;
    margin-bottom:       0;
    font-size:           14px;
    white-space:         nowrap;
    vertical-align:      middle;
    cursor:              pointer;
    -webkit-user-select: none;
    border-radius:       4px;
    background:          white;
    font-size:           1.5em;
    box-shadow:          0px 0px 18px #000;
    color:               black;

}

#SectionButtons .button:hover {
    box-shadow: none;
}

#SectionButtons .selected {
    background: black;
    color:      white;
    box-shadow: none;
}

#SectionButtons label {
    line-height:   36px;
    padding-right: 1em;
}

#SectionButtons .type,
.section .type {
    width:    30px;
    height:   36px;
    float:    right;
    position: relative;
}

.section ul {
    clear:      both;
    list-style: none;
}

.section li {
    padding-bottom: 0.5em;
}

.section li a {
    color:           darkred;
    text-decoration: underline;
}

.section li a:hover {
    color: red;
}

.section li span {
    font-family:  "Roboto", sans-serif;
    color:        black;
    padding-left: 0.5em;
    font-size:    0.9em;
    font-weight:  bold;
}

#SectionButtons .btn {
    background: white;
}

#SectionButtons .type.html5 {
    background-image: url("../images/type_html5.png");
}

#SectionButtons .type.android {
    background-image: url("../images/type_android.png");
}

#SectionButtons .type.unity {
    background-image: url("../images/type_unity.png");
}

#SectionButtons .type.php5 {
    background-image: url("../images/type_php.png");
}

/* =================================== SECTION MENU */

.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

button {
    width:      200px;
    padding:    0 1em 1em;
    margin-top: 0.5em;
}

button img {
    display: block;
    width:   100%;
}

.btn:hover, .button_selected, .btn:focus {
    background-color: darkred;
    color:            white;
    border:           none;
}

.menu_buttons {
    padding-bottom: 1em;
}

.menu_content {
    padding:    1em;
    /*box-shadow: 0px 0px 18px black;*/
    border-top: 1px solid black;
    margin:     1em;
}

.menu_content .title {
    float: none;
    color: darkred;
}

.menu_content .screencaps {
    float:        right;
    padding-left: 1em;
}

.menu_content .description {
    text-align:  justify;
    line-height: 1.1em;
    margin-left: 2em;
}

.menu_content .description, .menu_content .links {
    font-family: 'Roboto', sans-serif;
}

.menu_content .section_name {
    font-weight: bold;
    padding-top: 1em;
}

.menu_content .links {
    /*clear: both;*/
}

.menu_content .links a {
    font-weight: bold;
}

.menu_content ul {
    clear: none;
    /*list-style: square;*/
}

.clearfix {
    clear: both;
}

.screencaps img {
    width: 400px;
}