@font-face {
    font-family: "HandelGoth";
    src:         url("../fonts/HandelGothic.eot");
    src:         url("../fonts/HandelGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/HandelGothic.woff") format("woff"), url("../fonts/HandelGothic.ttf") format("truetype"), url("../fonts/HandelGothic.svg#HandelGothic") format("svg");
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: "Atari";
    src:         url("../fonts/Atari8Bit.eot");
    src:         url("../fonts/Atari8Bit.eot?#iefix") format("embedded-opentype"), url("../fonts/Atari8Bit.woff") format("woff"), url("../fonts/Atari8Bit.ttf") format("truetype"), url("../fonts/Atari8Bit.svg#Atari8Bit") format("svg");
    font-weight: normal;
    font-style:  normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    background:      url("../images/bg2.png") no-repeat bottom center fixed;
    background-size: contain;
    padding:         0;
    margin:          0;
}

body {
    font-family:         "HandelGoth", sans-serif;
    font-size:           12pt;
    -webkit-text-stroke: 0.25px;
}

#Header {
    text-align: right;
}

#Content {
    font-family:   "HandelGoth", sans-serif;
    background:    darkred;
    color:         black;
    padding-bottom:       0.5em;
    opacity:       0.95;
    box-shadow:    0px 0px 18px black;
    width:         100%;
    clear:         both;
    border-radius: 8px;
}

#Logo {
    opacity:      1;
    float:        left;
    padding-left: 1em;
}

#Byline {
    font-size:      1.0em;
    line-height:    1em;
    padding-top:    0.25em;
    padding-bottom: 0.5em;
    display:        block;
    text-align:     center;
}

#Footer {
    font-size:     small;
    color:         white;
    text-align:    center;
    font-style:    italic;
    margin-bottom: 1em;
    margin-left:   auto;
    margin-right:  auto;
    width:         50em;
    text-shadow:   0 0 8px black;
}

#Header {
    background-color: white;
    margin:           0;
    padding:          1em 0 0;
}

#Contact {
    font-family:    "Roboto", sans-serif;
    float:          right;
    font-weight:    bold;
    font-size:      1.1em;
    text-transform: uppercase;
    padding-top:    1em;
    padding-right:  1em;
    line-height:    1.8em;
}

#Contact h2, #Contact ul {
    padding: 0;
    margin:  0;
}

#Contact h2 {
    font-size:           1.7em;
    font-weight:         normal;
    padding-top:         1em;
    padding-bottom:      0.25em;
    color:               #DDD;
    font-family:         "Atari", sans-serif;
    letter-spacing:      -0.05em;
    line-height:         0;
    -webkit-text-stroke: 0;
}

#Contact li {
    display: inline;
}

#Contact a {
    color:        darkred;
    padding-left: 1em;
}

#Contact a:hover {
    color: red;
}

/* =================================== SECTION BUTTONS */

/*#SectionButtons {*/
    /*text-align: center;*/
    /*padding:    1em;*/
/*}*/

/*#SectionButtons .button {*/
    /*display:             inline-block;*/
    /*padding:             6px 22px;*/
    /*white-space:         nowrap;*/
    /*vertical-align:      middle;*/
    /*cursor:              pointer;*/
    /*-webkit-user-select: none;*/
    /*border-radius:       8px;*/
    /*background:          white;*/
    /*font-size:           1.5em;*/
    /*box-shadow:          0px 0px 18px #000;*/
    /*color:               black;*/
    /*-webkit-text-stroke: 0;*/
    /*height:              48px;*/
    /*margin:              5px 5px;*/
/*}*/

/*#SectionButtons .button:hover {*/
    /*box-shadow: none;*/
    /*position:   relative;*/
    /*top:        2px;*/
/*}*/

/*#SectionButtons .selected {*/
    /*background:  black;*/
    /*color:       white;*/
    /*box-shadow:  none;*/
    /*text-shadow: 0 0 8px red;*/
    /*position:    relative;*/
    /*top:         2px;*/
/*}*/

/*#SectionButtons label {*/
    /*line-height:   36px;*/
    /*padding-right: 1em;*/
    /*margin:        0;*/
    /*float:         left;*/
/*}*/

/*#SectionButtons .type {*/
    /*width:  30px;*/
    /*height: 36px;*/
    /*float:  right;*/
/*}*/

/*#SectionButtons .btn {*/
    /*background: white;*/
/*}*/

/*#SectionButtons .type.html5 {*/
    /*background-image: url("../images/type_html5.png");*/
/*}*/

/*#SectionButtons .type.android {*/
    /*background-image: url("../images/type_android.png");*/
/*}*/

/*#SectionButtons .type.unity {*/
    /*background-image: url("../images/type_unity.png");*/
/*}*/

/*#SectionButtons .type.php5 {*/
    /*background-image: url("../images/type_php.png");*/
/*}*/

/* =================================== SECTIONS */

.section {
    background:    #FFF;
    clear:         both;
    border:        4px solid black;
    padding:       0.5em;
    text-align:    left;
    margin:        1em;
    box-shadow:    0px 0px 18px #000;
    border-radius: 8px;
}

.section ul {
    clear:      both;
    list-style: none;
}

.section li {
    padding-bottom: 0.5em;
}

.section li a {
    color:           darkred;
    text-decoration: underline;
}

.section li a:hover {
    color: red;
}

.section li span {
    font-family:  "Roboto", sans-serif;
    color:        black;
    padding-left: 0.5em;
    font-size:    0.9em;
    font-weight:  bold;
}

/*.btn {*/
    /*font-family:   'Roboto', sans-serif;*/
    /*font-weight:   bold;*/
    /*text-overflow: ellipsis;*/

/*}*/

/*.item_buttons .button {*/
    /*width:          200px;*/
    /*text-overflow:  ellipsis;*/
    /*box-shadow:     0px 0px 9px #000;*/
    /*padding-bottom: 1em;*/
/*}*/

/*.item_buttons img {*/
    /*display: block;*/
    /*width:   100%;*/
/*}*/

/* =================================== SECTION ITEM */

.gallery_content {
    padding:    1em;
    /*box-shadow: 0px 0px 18px black;*/
    border-top: 1px solid black;
    margin:     1em;
}

.gallery_content .title {
    float:     none;
    color:     darkred;
    font-size: 2em;
}

.gallery_content .screencaps {
    float:        right;
    padding-left: 1em;
}

.gallery_content .description {
    text-align:  justify;
    line-height: 1.1em;
    margin-left: 2em;
}

.gallery_content .description, .gallery_content .links {
    font-family: 'Roboto', sans-serif;
}

.gallery_content .section_name {
    font-weight: bold;
    padding-top: 1em;
}

.gallery_content .links {
    /*clear: both;*/
}

.gallery_content .links a {
    font-weight: bold;
}

.gallery_content ul {
    clear: none;
    /*list-style: square;*/
}

.clearfix {
    clear: both;
}

.screencaps img {
    width: 400px;
}


.nav-icon {
    padding-right:  1em;
    height:         1em;
}

.gallery_head {
    font-size: 2em;
    vertical-align: middle;
    text-transform: uppercase;
}
.gallery_head img {
    vertical-align: super;
}