@font-face {
    font-family: "HandelGoth";
    src:         url("../fonts/HandelGothic.eot");
    src:         url("../fonts/HandelGothic.eot?#iefix") format("embedded-opentype"), url("../fonts/HandelGothic.woff") format("woff"), url("../fonts/HandelGothic.ttf") format("truetype"), url("../fonts/HandelGothic.svg#HandelGothic") format("svg");
    font-weight: normal;
    font-style:  normal;
}

@font-face {
    font-family: "Atari";
    src:         url("../fonts/Atari8Bit.eot");
    src:         url("../fonts/Atari8Bit.eot?#iefix") format("embedded-opentype"), url("../fonts/Atari8Bit.woff") format("woff"), url("../fonts/Atari8Bit.ttf") format("truetype"), url("../fonts/Atari8Bit.svg#Atari8Bit") format("svg");
    font-weight: normal;
    font-style:  normal;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family:         "HandelGoth", sans-serif;
    font-size:           12pt;
    background:          url("../images/bg2.png") no-repeat bottom center fixed;
    background-size:     contain;
    /*padding:         0;*/
    /*margin:          0;*/
    max-width:           1024px;
    padding-top:         50px; /* for navbar */
    -webkit-text-stroke: 0.25px;
}

#Header {
    text-align:    right;
    margin-bottom: 1em !important;
}

#Content {
    font-family:   "HandelGoth", sans-serif;
    background:    darkred;
    color:         black;
    box-shadow:    0px 0px 18px black;
    border-radius: 8px;
}

#Byline {
    font-size:      1.0em;
    line-height:    1em;
    padding-top:    0.25em;
    padding-bottom: 0.5em;
    display:        block;
    text-align:     left;
}

#Footer {
    font-size:     small;
    color:         white;
    font-style:    italic;
    margin-bottom: 1em;
    font-family:   "Roboto", sans-serif;
    text-shadow:   0 0 8px black;
}

#Header {
    background-color: white;
    margin:           0;
    padding:          1em 0 0;
}

#Contact {
    font-family:    "Roboto", sans-serif;
    font-weight:    bold;
    font-size:      1.1em;
    text-transform: uppercase;
    line-height:    1.8em;
}

#Contact h2, #Contact ul {
    padding: 0;
    margin:  0;
}

#Contact h2 {
    font-size:           1.7em;
    font-weight:         normal;
    padding-top:         1em;
    padding-bottom:      0.25em;
    color:               #DDDDDD;
    font-family:         "Atari", sans-serif;
    letter-spacing:      -0.05em;
    line-height:         0;
    -webkit-text-stroke: 0;
}

#Contact li {
    display: inline;
}

#Contact a {
    color:        darkred;
    padding-left: 1em;
}

#Contact a:hover {
    color: red;
}

/* =================================== SECTIONS */

.section ul {
    /*clear:      both;*/
    list-style: none;
}

.section li {
    /*padding-bottom: 0.5em;*/
}

.section li a {
    color:           darkred;
    text-decoration: underline;
}

.section li a:hover {
    color: red;
}

.section li span {
    font-family: "Roboto", sans-serif;
    color:       black;
    /*padding-left: 0.5em;*/
    font-size:   0.9em;
    font-weight: bold;
}

/* =================================== GALLERY ENTRY */

.gallery_entry {
    background:    #FFFFFF;
    /*clear:         both;*/
    border:        4px solid black;
    padding:       1em;
    /*text-align:    justify;*/
    margin:        2em;
    margin-top:    0;
    margin-bottom: 1em;
    box-shadow:    0px 0px 18px #000000;
    border-radius: 8px;
}

.gallery_title {
    color:          darkred;
    font-size:      2em;
    line-height:    1em;
    padding-bottom: 0.5em;
    text-align:     center;
}

.gallery_description {
    font-family: "Roboto", sans-serif;
    text-align:  justify;
    line-height: 1.1em;
    /*margin-left: 2em;*/
}

.gallery_links {
    font-family: 'Roboto', sans-serif;
}

.gallery_content .section_name {
    font-weight: bold;
    /*padding-top: 1em;*/
}

.gallery_links {
    padding-top:    1em;
    padding-bottom: 1em;
}

.gallery_links_head {
    font-weight: bold;
    font-size:   1.2em;
}

.gallery_links a {
    font-weight:     bold;
    color:           darkred;
    text-decoration: underline;
}

.gallery_links li {
    padding-top: 0.5em;
}

.gallery_links ul {
    clear:      none;
    list-style: square;
}

.gallery_head {
    font-size:      2em;
    text-transform: uppercase;
    color:          white;
    padding-bottom: 0.25em;
}

.gallery_head img {
    vertical-align: middle;
}

.gallery_image {
    width: 320px;
}

.nav-icon {
    padding-right: 1em;
    height:        1em;
}
