{{>header}}
<div id="InnerContent" class="older_projects">
    <h1>Older Projects</h1>
    <hr/>
    <h2><img src="images/type_unity.png"/> Unity</h2>
    <ul>
        <li>
            <img src="images/projects/vsb-1.jpg" class="img-responsive" align="right" width="150">
            <span><a href="misc/unity/flapjack/">Virtual Stuck-Behind-A-Bus</a></span> -
                This stupid little thing was created as both a bit of a joke, and served as my first real
                introduction to Unity. It is not an actual "game". <i>Virtual Stuck Behind A Bus</i> was a
                video game played by Peter Griffin during an episode of Family Guy. It was a <a href="https://www.youtube.com/watch?v=fuQ_1Z85VY8" target="_blank">hilarious scene</a>,
                and I realized it would be quite easy to mock up.
        </li>
        <li>
            <img src="images/projects/flp-1.png" class="img-responsive" align="right" width="150"><span><a href="misc/unity/flapjack/">Flapjack</a></span> -
            A skeleton version of "Flappy Bird" made on my lunch break. Note, this was made for fun, before
            it was considered shameful to do so. So don't judge me. <br/><small>This was actually
            expanded into a more complete game, with custom graphics and everything... but it was purposely
            destroyed. Don't even ask.</small>
        </li>
        <li>
            <img src="images/projects/esc-1.png" class="img-responsive" align="right" width="150"><span><a href="misc/unity/brownian/">Ch1p5 Escape</a></span> - Unfinished one-level remake of the
            classic <i><a href="http://en.wikipedia.org/wiki/Chip\'s_Challenge">Chip's Challenge</a></i> in 3D.
            <br/>
            This was made in my early Unity days. Note the 'Unreal' levels of colored lighting, and ripped
            off Minecraft textures. Complete abuse. Barely any skill with Blender here.
        </li>
        <li>
            <img src="images/projects/bms-1.png" class="img-responsive" align="right" width="150"><span><a href="misc/unity/brownian/">Brownian Motion Simulator</a></span> - Just a fun experiment attempting
                                           to simulate <a href=\"http://en.wikipedia.org/wiki/Brownian_motion\">Brownian
                                           Motion</a> in Unity. Scientific accuracy not guaranteed.
        </li>
    </ul>
    <br/>
    <h2><img src="images/type_unity.png"/> HTML5</h2>
    <ul>
        <li>
            <img src="images/projects/red-1.png" class="img-responsive" align="right" width="150"><span><a href="misc/reddmo/">Reddmo</a></span> -
            It's not Cosmo! It's the internationally famous news magazine, Reddmo!  <i>Reddmo</i> is an
            HTML5 toy that automatically generates a random magazine cover using the images and headlines
            linked to off of Reddit.  The cover can be customized to use content from a specific subreddit,
            or from the front page. Admittedly, the outcome is hit or miss, but this was a seriously fun
            toy to hack on. <a href="https://github.com/Fortyseven/Reddmo" target="_blank">Fork it on
            GitHub!</a>
        </li>
    </ul>
</div>
{{>footer}}