<!DOCTYPE html>
<html>
<head>
    <title>Bytes Templar - Web, Gaming, and Mobile Software Development</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/bootstrap_overrides.css" rel="stylesheet"/>
    <link rel="icon" href="images/favicon.png" sizes="32x32"/>
    <link rel="icon" href="images/favicon.png" sizes="48x48"/>
    <link rel="stylesheet" href="css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="container-fluid">
    {{> nav}}
    <!-- --------------------------- -->
    <div id="Content">
        {{>nav_top}}