<!-- Vertical nav modified from: http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/ -->
<div class="row">
    <div class="col-sm-3 col-lg-2">
        <div class="row">
            <div id="Logo" class="col-xs-12 center-block">
                <a href="index.php"><img class="img-responsive" width="100%" src="images/header_logo.png"/></a>

                <div id="Byline" class="text-center">Web, Mobile, and Game Development</div>
            </div>
        </div>

        <div class="row sidebar-nav center-block">
            <div class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".sidebar-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="visible-xs navbar-brand">Menu</span>
                </div>
                <div class="navbar-collapse collapse sidebar-navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <div align="center">
                                    <img width="100%"
                                         src="images/avatar-2014-11_256.png"
                                         style="padding:1em">
                                </div>
                                <li class="dropdown-header text-center">Toby Deshane</li>
                                <li class="divider"></li>
                                <li><a href="https://www.linkedin.com/in/fortyseven"><img
                                                src="images/social_linkedin.png" class="nav-icon"/>LinkedIn</a></li>
                                <li><a href="https://careers.stackoverflow.com/fortyseven "><img src="images/social_stackoverflow.png" class="nav-icon"/>Careers 2.0</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social <span
                                        class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="http://bytestemplar.blogspot.com/"><img src="images/social_blog.png"
                                                                                     class="nav-icon"/>Blog</a></li>
                                <li><a href="https://www.facebook.com/BytesTemplar"><img src="images/social_facebook.png" class="nav-icon"/>Facebook</a></li>
                                <li><a href="https://twitter.com/BytesTemplar"><img src="images/social_twitter.png" class="nav-icon"/>Twitter</a></li>
                                <li><a href="https://www.youtube.com/user/BytesTemplarInc"><img src="images/social_youtube.png" class="nav-icon"/>YouTube</a></li>
                            </ul>
                        </li>

                        <li class="nav-divider"></li>

                        <li><a href="https://github.com/Fortyseven"><img src="images/social_github.png" class="nav-icon"/>GitHub</a></li>
                        <li><a href="https://bitbucket.org/fortyseven/"><img src="images/social_bitbucket.png" class="nav-icon"/>BitBucket</a></li>

                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="col-sm-9 col-lg-8">
