<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/type_unity.png" class="nav-icon"/>Unity <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="index.php?Projects/Unity/LaserSmash">LaserSmash</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Ludum Dare</li>
                <li><a href="index.php?Projects/LD/GalaxyLanes">30 - Galaxy Lanes</a></li>
                <li><a href="index.php?Projects/LD/WhackABurster">29 - Whack-A-Burster</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Older</li>
                <li><a href="index.php?Projects/Unity/VirtualStuckBehindABus">Virtual Stuck-Behind-A-Bus</a></li>
<!--                <li><a href="#BrownianMotionSimulator">Brownian Motion Simulator</a></li>-->
<!--                <li><a href="#ChipsEscape">Ch1p5 Escape</a></li>-->
<!--                <li><a href="#Flapjack">Flapjack</a></li>-->
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/type_android.png" class="nav-icon"/>Android <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="index.php?Projects/Android/ToneDef">ToneDef</a></li>
                <li><a href="index.php?Projects/Android/SpareDeck">Spare Deck</a></li>
                <li><a href="index.php?Projects/Android/VKLauncher">VK Launcher</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/type_html5.png" class="nav-icon"/>HTML5
                <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="index.php?Projects/HTML5/ToneDefWeb">ToneDef Web Edition</a></li>
<!--                <li><a href="#Reddmo">Reddmo</a></li>-->
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/type_voice.png" class="nav-icon"/>Voice Work <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="https://soundcloud.com/fortyseven/">SoundCloud</a></li>
                <li><a href="http://voicebunny.com/actors/toby-deshane-Q9QCBK">Voice Bunny</a></li>
            </ul>
        </li>
	<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="images/type_shows.png" class="nav-icon"/>Shows<span class="caret"></span> 
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="https://www.youtube.com/3minuteson">3 Minutes On...</a></li>
                <hr/>
                <li><a href="https://www.youtube.com/playlist?list=PLMR6joCD7u9tRByG7JG72670F2igpeK4D">Conspiracy Guy's Intelligence Briefing</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLMR6joCD7u9vp-HTYownmiqF80LZBBPwN">Gamey Bits</a></li>
            </ul>
	</li>
        <li><a href="index.php?Attic"><img src="images/type_older.png" class="nav-icon"/>Older</a></li>
    </ul>
</nav>
