{{> header}}
<div class="row">
    <div class="row col-xs-12 gallery_head center-block text-center text-capitalize"><img src="images/type_unity.png"/> Unity</div>
    <div class="col-xs-12">
        <div class="row">
            <?php

                galleryItem( "BrownianMotionSimulator",
                             "",
                             array( "" ),
                             "<p></p>
                                    <p></p>",
                             array( "" => "Web Version" ) );

                galleryItem( "Flapjack",
                             "Flapjack",
                             array( "" ),
                             "<p></small></p>",
                             array( "" => "Web version" ) );

                galleryItem( "ChipsEscape",
                             "",
                             array( "" ),
                             "<p></p>",
                             array( "misc/unity/chips/" => "Web version" ) );
            ?>
        </div>
    </div>
</div>
<!-- --------------------------- -->
<div class="row">
    <div class="row col-xs-12 gallery_head center-block text-center text-capitalize"><img src="images/type_html5.png"/> HTML5</div>
    <div class="col-xs-12">
        <div class="row">
            <?php
                galleryItem( "Reddmo",
                             "Reddmo",
                             array( "" ),
                             "<p>",
                             array( ""                         => "View on the Web",
                                    "" => "Fork it on GitHub" ) );
            ?>
        </div>
    </div>
{{> footer}}